body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #111;
    color: #eee;
}

.light-mode {
    background-color: #f4f4f4;
    color: #111;
}

.navbar {
    background-color: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: #ccc;
    margin: 10px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, filter 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}
